spring:
  application:
    name: sns
  data:
    redis:
      host: localhost
      port: 6379
  session:
    store-type: redis
    timeout: 30m
    redis:
      namespace: sns:session
  datasource:
    url: jdbc:h2:mem:sns
    driver-class-name: org.h2.Driver
    username: sa
    password: 1234
  h2:
    console:
      enabled: true
      path: /h2-console
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
