spring:
  application:
    name: sns
  data:
    redis:
      host: localhost
      port: 6379
  session:
    store-type: redis
    timeout: 30m
    redis:
      namespace: sns:session
  datasource:
    url: jdbc:postgresql://localhost:5432/sns
    driver-class-name: org.postgresql.Driver
    username: sns
    password: sns1234
  jpa:
    hibernate:
      ddl-auto: none
    show-sql: true
    properties:
      hibernate:
        format_sql: true
